* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #f3f5fc;
    --color-secondary: #0A3871;
}

@font-face {
    font-family: "simpson";
    src: url("fonts/simpsonfont/Simpsonfont.ttf");
}

body {
    background-image: url(images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "simpson";
    cursor: url("images/puntero.png"), auto;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

header {
    display: none;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #000;
    -webkit-filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
}

.homero-img {
    border-radius: 10px 10px 0 0;
    width: 90%;
    margin-top: -30%;
}

.izq-nube {
    width: 85%;
    position: absolute;
    margin-left: -75%;
    margin-top: -25%;
    z-index: 5;
    -webkit-filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
}

.titulo-loading {
    width: 90%;
    position: absolute;
    margin-left: -45%;
    margin-top: 5%;
    z-index: 10;
    -webkit-filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
}

.der-nube {
    width: 55%;
    position: absolute;
    margin-left: 5%;
    margin-top: -10%;
    z-index: 5;
    -webkit-filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.4));
}

#load {
    display: flex;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 10px;
    margin-left: 0px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#load div {
    position: absolute;
    width: 20px;
    height: 36px;
    opacity: 0;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #eb76ad;
    font-size: 1.2rem;
}

#load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}


.container-menu {
    width: 10%;
    height: 10%;
    position: fixed;
    transition: .9s all;
    z-index: 1;
}



.container-menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    width: 80%;
}


.container-menu ul {
    text-align: center;

}

.container-menu li {
    transition: all .3s;
    list-style: none;

}

.container-menu li img .logo-menu {
    display: none;
}

.footer-menu {
    display: none;
}

.container-menu a {
    text-decoration: none;
    font-weight: normal;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}


.container-menu .logo-menu {
    padding-top: 30px;
    padding-left: 20px;
    width: 70%;
}

.container-menu .logo-menu-des {
    width: 0px;
}

.container-menu:hover {
    width: 30%;
    height: 100vh;
    background: white;
    box-shadow: 5px 5px 20px #7c7c7c;
    /* opacity: 0.2; */

}

.container-menu:hover .logo-menu-des {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    user-select: none;
    padding: 1rem;
}

.container-menu:hover a {
    font-size: 20px;
    color: #fed41e;
    display: block;
    padding: 20px;
    user-select: none;
    cursor: url(images/homero.png), auto;
}

.container-menu:hover img {
    display: none;
}


.container-menu:hover li {
    border-top: 1px solid #f3f5fc;
    width: 100%;
}

.container-menu:hover li img {
    display: flex;
    width: 100%;
}

.container-menu:hover ul:last-of-type {
    border-bottom: 1px solid #f3f5fc;
}

.container-menu:hover .footer-menu {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.container-menu:hover .footer-menu img {
    width: 50%;
    display: flex;
}

.container-menu:hover .footer-menu a {
    display: flex;
    margin: 0 5px;
    box-sizing: border-box;

}

.container-menu:hover li a:hover {
    font-size: 28px;
    padding: 30px 0px;
    background-color: rgb(235, 118, 173);
    cursor: url(images/homero.png), auto;
}


.container-menu:hover .footer-menu a ion-icon {
    font-size: 45px;
    color: white;
    background-color: #fed41e;
    border-radius: 50%;
    padding: 5px;
    cursor: url(images/homero.png), auto;
}

.container-menu:hover .footer-menu a ion-icon:hover {
    color: var(--color-primary);
    background-color: #eb76ad;
    box-shadow: 2px 2px 20px rgba(14, 21, 41, 0.4);
    cursor: url(images/homero.png), auto;
}


@media (min-width: 768px) {
    .container-menu:hover {
        width: 35%;
    }
}


/*   pantalla principal */

#Initial {
    height: 100vh;
    width: 100%;
    display: none;
}

.text-encriptar {
    width: 70%;
}

.container-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 15%;
    justify-content: space-between;
}

.pizarra {
    height: 80%;
    background-image: url(images/pizarra.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.text-area {
    border: none;
    outline: none;
    height: 80%;
    width: 85%;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    color: white;
    resize: none;
    background-color: transparent;
    margin-bottom: 20px;
    scrollbar-color: transparent transparent;
    font-family: "simpson";
    cursor: url(images/puntero.png), auto;
}

.text-area::placeholder {
    color: white;
}

.text-area:focus {
    caret-color: white;
}


.text-area::selection {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.img-bart {
    position: absolute;
    width: 12%;
    height: auto;
    left: 15%;
    bottom: 25%;
    transition: 0.5s;
}

.img-bart2 {
    position: absolute;
    width: 12%;
    height: auto;
    right: 32%;
    bottom: 23%;
    display: none;
    transition: 0.5s;
}

.content-btn {
    height: 20%;
    cursor: url(images/puntero.png), auto;
}

.info-content {
    width: 100%;
    height: 20%;
}

.warning-info {
    color: #495057;
    opacity: 0.6;
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-left: 40px;
    user-select: none;
    pointer-events: none;
    margin-top: 10px;
}

.warning-info img {
    position: absolute;
    margin-left: -20px;
    margin-bottom: 2px;
}

.centrar-btn {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

button {
    width: 45%;
    height: 67px;
    border: 3px solid white;
    border-radius: 24px;
    font-size: 24px;
    font-family: "simpson";
    cursor: url(images/homero.png), auto;
}

.btn-encriptar {
    color: #FFFFFF;
    background-image: url(images/magui.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #eb76ad;
}

.btn-encriptar:hover {
    background-color: #fff;
    color: #fed41e;
    font-weight: bold;
    cursor: url(images/homero.png), auto;
    font-size: 28px;

}

.btn-desencritar {
    color: #eb76ad;
    background-color: white;
    border: 3px solid #eb76ad;
    background-image: url(images/magui2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-desencritar:hover {
    color: #fed41e;
    background-color: white;
    font-weight: bold;
    border-color: white;
    cursor: url(images/homero.png), auto;
    font-size: 28px;
}


/* PARTE 2*/

.result {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.content-result {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content-result-msj {
    width: 95%;
    word-wrap: break-word;
    height: 80%;
    display: none;
    background-image: url(images/televisor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    align-items: center;
    padding: 2% 0 0 12%;
}

.heading {
    border: none;
    outline: none;
    height: 38%;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #fed41e;
    resize: none;
    background-color: transparent;
    margin-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    user-select: none;
    width: 75%;
    padding: 1.5%;
    font-family: "simpson";
}


.image {
    width: 50%;
}

.image img {
    width: 100%;
    user-select: none;
    pointer-events: none;
}


.hiden-title {
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
    line-height: 120%;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.hiden-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.content-copy-alert {
    width: 86%;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
}

#copy-alert {
    position: absolute;
    background-color: white;
    color: #eb76ad;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    border-radius: 25px;
    bottom: 20%;
    /* opacity: 0.7; */
    display: none;
    margin-bottom: 0.5%;
    width: 20.5%;
    text-align: center;
    display: none;
    justify-content: center;
}

.btnCopy-content {
    width: 100%;
    height: 50%;
}

.btn-copy-hide {
    color: white;
    background-color: #eb76ad;
    width: 100%;
    height: 67px;
    display: none;
    background-image: url(images/maggie3.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

}

.btn-copy-hide:hover {
    color: #fed41e;
    background-color: white;
    font-weight: bold;
    font-size: 28px;
}

/*MODAL*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(14, 21, 41, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    font-family: "simpson";
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.content-modal {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    /* background: #fff; */
    background: -moz-linear-gradient(#eb76ad, #fed41e);
    background: -webkit-linear-gradient(#eb76ad,
            #fed41e);
    background: -o-linear-gradient(#eb76ad,
            #fed41e);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.close {
    background: #fed41e;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    user-select: none;
    cursor: url(images/homero.png), auto;
}

.close:hover {
    background: white;
    color: #fed41e;
}

.title-modal {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
    text-align: center;
}

.conten-variables {
    display: block;
}

.input {
    display: flex;
}

.form-control {
    display: grid;
    width: 100%;
}


.form-control>input {
    width: 100%;
    border-radius: 2rem;
    border: none;
    margin: 0.2rem;
    font-size: 24px;
    padding: 0.5rem;
    font-family: "simpson";
    color: #eb76ad;
    text-align: center;
    outline: none;
    cursor: url(images/puntero.png), auto;
}

.form-control>input::selection {
    background-color: #eb76ad;
    color: #fed41e;
    cursor: url(images/puntero.png), auto;
}

.fomato-variables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    user-select: none;

}

.fomato-variables h3 {
    padding: 0 10px;
    color: white;
}

.fomato-variables p {
    color: #7c7c7c;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.footer-modal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.message-modal {
    background: #000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    opacity: 0.6;
    margin-bottom: 5px;
}

.footer-modal button {
    height: 37px;
    width: 150px;
    font-size: 14px;
    background-color: #eb76ad;
    color: white;
    border: 1px solid white;
    font-weight: 800;
}

.footer-modal button:hover {
    background: white;
    color: #fed41e;
    /* border: 1px solid #eb76ad; */
    font-size: 20px;
}

#btn-modal-agregar {
    display: none;
}

@media (max-width: 1024px) {
    header {
        display: none;
    }

    #loading {
        height: 100vh;
    }

    .container-loading {
        width: 50%;
        height: 80%;
    }

    main {
        height: 100vh;
        display: grid;
        overflow: auto;
    }

    .container-menu:hover {
        width: 50%;
    }

    .container-menu .logo-menu {
        width: 100%;
        padding: 2px;
    }

    #Initial {
        display: none;
        width: 100%;
        height: auto;
    }

    .text-encriptar {
        width: 100%;
        height: 80vh;
    }

    .pizarra {
        background-position: center;
    }

    .content-btn {
        width: 100%;
    }

    .img-bart {
        display: none;
    }

    .centrar-btn {
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .btn-encriptar {
        margin: 0;
    }

    .container-text {
        margin: 0;
        padding: 9rem 2rem 1rem 2rem;
    }

    .result {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-result {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        display: block;
    }

    .heading {
        height: auto;
        min-height: 50vh;
        background: transparent;
        padding: 5rem 6rem;
    }

    .content-result-msj {
        width: 100%;
        height: 55vh;

    }

    .image {
        display: none;
    }

    .content-copy-alert {
        display: block;
        width: 100%;
        padding: 0 2rem;
    }

    #copy-alert {
        width: 100%;
        position: relative;
        bottom: 0;
        top: 5px;
    }

    .button-copy {
        width: 100%;
        background: white;
    }

    .btn-copy-hide {
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
    }

    .content-modal {
        width: 40%;
    }

    .conten-variables {
        display: grid;
    }

    .variables {
        width: 100%;
    }

    .fomato-variables {
        width: 100%;
        margin: 1rem;
    }

    .footer-modal {
        display: grid;
    }
}

@media (max-width: 768px) {
    header {
        display: none;
    }

    #Initial {
        display: none;
    }

    #loading {
        height: 100vh;
    }

    .container-loading {
        width:60%;
        height: 80%;
    }

    main {
        height: 100vh;
        display: grid;
        overflow: auto;
    }

    .container-menu:hover {
        width: 50%;
    }

    .container-menu .logo-menu {
        width: 100%;
        padding: 0px;
    }

    #Initial {
        width: 100%;
    }

    .text-encriptar {
        width: 100%;
        height: 70vh;
    }

    .container-text {
        margin: 0;
        padding: 8rem 2rem 1rem 2rem;
    }

    .pizarra {
        background-position: center;
    }

    .text-area {
        height: 90%;
        padding: 2rem 0;
        width: 90%;
        margin: 0;
    }

    .content-btn {
        width: 100%;
    }

    .img-bart {
        display: none;
    }

    .centrar-btn {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .btn-encriptar {
        margin: 0;
    }

    .result {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-result {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        display: block;
    }

    .heading {
        height: auto;
        min-height: 50vh;
        background: transparent;
        padding: 3.5rem 2rem;
    }

    .content-result-msj {
        width: 100%;
        height: 45vh;

    }

    .heading {
        height: auto;
        min-height: 40vh;
        background: transparent;
        padding: 3.5rem 3.5rem;
        width: 80%;
    }

    .image {
        display: none;
    }

    .content-copy-alert {
        display: block;
        width: 100%;
        padding: 0 2rem;
    }

    #copy-alert {
        width: 100%;
        position: relative;
        bottom: 0;
        top: 5px;
    }

    .button-copy {
        width: 100%;
        background: white;
    }

    .btn-copy-hide {
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
    }

    .content-modal {
        width: 85%;
    }

    .conten-variables {
        display: grid;
    }

    .variables {
        width: 100%;
    }

    .fomato-variables {
        width: 100%;
        margin: 1rem;
    }

    .footer-modal {
        display: grid;
    }

}

@media (max-width: 480px) {
    .container-loading {
        width: 80%;
        height: 80%;
    }

    header {
        display: none;
    }

    main {
        height: auto;
        display: grid;
    }

    .container-menu {
        width: 20%;
        height: 12%;
    }

    .container-menu:hover {
        width: 100%;
        height: 50vh;
    }

    .container-menu:hover .footer-menu img {
        display: none;
    }

    .container-menu .logo-menu {
        width: 100%;
    }

    #Initial {
        display: none;
        width: 100%;
    }

    .text-encriptar {
        width: 100%;
        height: 100vh;
    }

    .container-text {
        margin: 0;
        padding: 8rem 0rem 1rem 0rem;
    }

    .pizarra {
        height: 45%;
        background-position: center;
        width: 100%;
    }

    .text-area {
        height: 90%;
        padding: 1rem 0rem;
    }

    .img-bart {
        display: none;
    }

    .content-btn {
        display: grid;
        flex-direction: column;
        width: 100%;
        height: 30%;
        justify-content: center;
    }

    .centrar-btn {
        display: grid;
        width: auto;
    }

    .btn-encriptar,
    .btn-desencritar {
        width: 85vw;
    }

    .btn-encriptar {
        margin-bottom: 1rem;
    }


    .result {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-result {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        display: block;
    }

    .content-result-msj {
        width: 100%;
        height: 40vh;
    }

    .heading {
        height: auto;
        min-height: 35vh;
        background: transparent;
        padding: 2.5rem 0;
    }

    .image {
        display: none;
    }

    .content-copy-alert {
        display: block;
        width: 100%;
        padding: 0 2rem;
    }

    .title-text {
        font-size: 2rem;
    }

    #copy-alert {
        width: 100%;
        position: relative;
        bottom: 0;
        top: 5px;
    }

    .button-copy {
        width: 100%;
        background: white;
    }

    .btn-copy-hide {
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 1rem;
    }

    .content-modal {
        width: 85%;
    }

    .conten-variables {
        display: grid;
    }

    .variables {
        width: 100%;
    }

    .fomato-variables {
        width: 100%;
        margin: 1rem;
    }

    .footer-modal {
        display: grid;
    }

}